# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\code\zx_java\JavaDataStructure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
